// Input parameters
outputDir = 'results'
params.adata_sp = 'bin/stAI/data/osmFISH_Zeisel/osmFISH_spatial_filtered.h5ad'
params.adata_sc = 'bin/stAI/data/osmFISH_Zeisel/zeisel_scRNA_filtered.h5ad'
params.batch_key = null
params.sp_layer = null
params.sc_layer = null
params.test_features = ''
params.sc_label_key = 'celltype'
params.sp_label_key = null // if provided, should match the sc_label_key
params.rna_batchsize = 512
params.spatial_batchsize = 512
params.max_threads = 16

params.d_hidden = 64
params.d_latent = 16
params.lam_clf = 0.1
params.lam_cos = 1
params.lam_genegraph = 0
params.lam_impute = 1
params.lam_mmd = 0.1
params.lam_recon = 1
params.device_id = 0
params.eval_step = 50
params.k_folds = 5
params.lr = 0.002
params.num_epoch = 500
params.spatial_knn = 10


// Pipeline parameters
workDir = "${System.properties['user.home']}/myScratch/work"

// Environment
//params.conda_env = 'nf-stAI'
//conda.enabled = true
//def conda_path = ["bash", "-c", "conda info --envs | awk '\$1 == \"${params.conda_env}\" {print \$NF}'"].execute().text.trim()
//if( !conda_path ) {
//  conda_path = 'envs/nf-stAI.yml'
//}

//conda.enabled = true
//def conda_path = '/home/rossi/.conda/envs/nf-stAI'

params.conda_env = 'scp-int'
conda.enabled = true


// Process parameters
report.overwrite = true
workflow.output.mode = 'copy'

process {

    //conda = conda_path
    //conda = 'scp-int'
    executor = 'slurm'
    cpus = 2
    memory = '10 GB'
    time = '2h'
    maxForks = 100

    withName: make_input {
      cpus = 48
      memory = '950 GB'
      time = '24h'
    }

    withName: 'run_stai' {
        queue = "gpu"
        cpus = params.max_threads ?: 48
        memory = '950 GB'
        time = '96h'
        clusterOptions = '--gres=shard:48'
    }

    withName: 'make_output' { 
        memory = '950 GB'
        cpus = 48
        time = '24h'
    }

}

executor {
  $slurm {
    queueSize = 600
  }
}
